<!-- <div class="container">
  <div class="row text-center mt-3">
    <div class="col-md-5">
      <h4>Product Details</h4>
      </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-5">
      <img class="card-img-top" height="90%" src="assets/img/{{selectedProduct.imgUrl}}">
    </div>
    <div class="col-md-7" style="margin-top:-1%">
      <h3> {{selectedProduct.name}}</h3>
      <h5>{{selectedProduct.description}}</h5>
      <h5 class="text-primary">{{selectedProduct.price | currency : 'USD'}}</h5>
      <span><a (click)="writeReview()">Write a Review</a></span>
      <span><i class="fa fa-star-o fa-md"></i></span>
      <div *ngIf="isShippingFree; else notFreeShipping">
          <h5>Free Shipping</h5>
      </div>
      <div *ngIf="selectedProduct.keyFeatures">
        <ul>
          <li *ngFor="let feature of selectedProduct.keyFeatures">{{feature}}</li>
        </ul>
      </div>
      <ng-template #notFreeShipping>
          <h5>Payment for shipping</h5>
      </ng-template>
      <input type="radio" class="radio-inline" name="modeOfPayment" [(ngModel)]="modeOfPayment" value="pod">Pay on Delivery
      <input type="radio" class="radio-inline" name="modeOfPayment" [(ngModel)]="modeOfPayment" value="cash">Visa/Verve/Mastercard Payment
      <h5>Arrival Date</h5>
      <div class="form-group">
        <div>
          <label for="quantity">Quantity:</label>
        <select name="quantity" class="col-md-4 form-control" [(ngModel)]="selectedProduct.quantityAvailable">
         <option [value]="i" *ngFor="let i of quantity">{{i}}</option>
        </select>
        </div>
      </div>

      <button type="submit" class="btn btn-danger btn-sm">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        Add to Cart
      </button>
      <button type="submit" class="btn btn-success btn-sm ml-3">BUY NOW</button>
    </div>
  </div>
</div>
 -->
 <div id="grey-container">
 <div id="main-container">
    <div class="img-con">
      <img src="../../../../assets/img/phones/phone1.jpg" alt="Product">
    </div>
    <div class="content">
      <div class="main-header">
        Samsung Galaxy S10 Dual Sim - 128gb, 8gb, 4g Lte - Prism Green
      </div>
      <div class="product-code">
        Product Code: <strong>4224392</strong>
      </div>
      <div class="brand">
        Brand: <strong>Samsung</strong>
      </div>
      <div class="price gutter">
        ₦320,000
      </div>
      <div class="quantity gutter">
        <div>Quantity:</div>
        <div class="qty-btn">
          <div class="btnq border">-</div>
          <div class="btnq mid">1</div>
          <div class="btnq border">+</div>
        </div>
      </div>
      <div class="action gutter">
        <button class="btn-green btn-md">Add to Cart</button>
        <div class="save-to-cart">
          <div class="grey-circle">
            <i class="fa fa-heart"></i>
          </div>
          <label class="mx-2"> Save for later </label>
        </div>
      </div>
      <div class="warranty-actions gutter">
        <div>Pickup & Pay on Collection Available</div>
        <div>Yu Break It, We Fix It</div>
        <div>Konga Warehouse</div>
        <div>Express Delivery Available</div>
      </div>
      <div class="social-handles gutter">
        <div> Share with friends</div>
        <div class="light-circle">
          <i class="fa fa-facebook-f"></i>
        </div>
        <div class="light-circle">
          <i class="fa fa-twitter"></i>
        </div>
        <div class="light-circle">
            <i class="fa fa-google-plus"></i>
        </div>
      </div>
    </div>
 </div>
</div>
 <div class="sub-container">
    <div class="initial">K</div>
    <div>Sold by Konga Store</div>
    <a href="#">Learn More</a>
 </div>

 <div class="mt-3">
    <div class="sub-container ">
        <div class="item">Overview</div>
        <div class="item">Description</div>
        <div class="item">Shipping</div>
        <div class="item">Warranty</div>
        <div class="item">Return Policy</div>
        <div class="item">Reviews</div>
    </div>

    <div class="content-features">
      <div class="description">
        <table class="table table-bordered table-striped">
          <tr>
            <th>Colour</th>
            <td>Green</td>
          </tr>
          <tr>
            <th>Brand</th>
            <td>Samsung</td>
          </tr>
          <tr>
            <th>Screen Size</th>
            <td>6.1 inches</td>
          </tr>
          <tr>
            <th>Connectivity</th>
            <td>Wifi + 4G</td>
          </tr>
        </table>
      </div>
    </div>

 </div>
