
 <div id="grey-container">
 <div id="main-container">
    <div class="img-con">
      <img [src]="selectedProduct.imgUrl || '../../../../assets/img/phones/phone1.jpg'" alt="Product">
    </div>
    <div class="content">
      <div class="main-header">
        {{ selectedProduct.name }}
      </div>
      <div class="product-code">
        Product Code: <strong>{{selectedProduct.code}}</strong>
      </div>
      <div class="brand">
        Brand: <strong>{{selectedProduct.brandName}}</strong>
      </div>
      <div class="price gutter">
        ₦{{selectedProduct.price | number:'.2'}}
      </div>
      <div class="quantity gutter">
        <div>Quantity:</div>
        <div class="qty-btn">
          <div class="btnq border" (click)="decrement()">-</div>
          <div class="btnq mid">{{displayQty}}</div>
          <div class="btnq border" (click)="increment()">+</div>
        </div>
        <div class="error-msg" *ngIf="showErrorMessage">You have reached the maximum qty for this product</div>
      </div>
      <div class="action gutter">
        <button class="btn-green btn-md" (click)="addToCart()"> Add to Cart</button>
        <div class="save-to-cart">
          <div class="grey-circle">
            <i class="fa fa-heart"></i>
          </div>
          <label class="mx-2"> Save for later </label>
        </div>
      </div>
      <div class="warranty-actions gutter">
        <div>
          <i class="fas fa-warehouse"></i>
          Pickup & Pay on Collection Available
        </div>
        <div>
          <i class="fas fa-tools"></i>
          Yu Break It, We Fix It
        </div>
        <div>
            <i class="fas fa-truck"></i>
          Konga Warehouse
        </div>
        <div>
          <i class="fas fa-truck"></i>
          Express Delivery Available
        </div>
      </div>
      <div class="social-handles gutter">
        <div> Share with friends</div>
        <div class="light-circle">
          <i class="fa fa-facebook-f"></i>
        </div>
        <div class="light-circle">
          <i class="fa fa-twitter"></i>
        </div>
        <div class="light-circle">
            <i class="fa fa-google-plus"></i>
        </div>
      </div>
    </div>
 </div>
</div>
 <div class="sub-container">
    <div class="initial">{{initialOfMerchant | titlecase}}</div>
    <div>Sold by {{selectedProduct.merchantName | titlecase}}</div>
    <a href="#">Learn More</a>
 </div>

 <div class="mt-3 feat-details">
    <div class="sub-container ">
        <div class="item" (click)="setFeature('overview')" [ngClass]="showOverview ? 'current': ''" >Overview</div>
        <div class="item" (click)="setFeature('description')" [ngClass]="showDescription ? 'current': ''">Description</div>
        <div class="item" (click)="setFeature('shipping')" [ngClass]="showShipping ? 'current': ''">Shipping</div>
        <div class="item" (click)="setFeature('warranty')" [ngClass]="showWarranty ? 'current': ''">Warranty</div>
        <div class="item" (click)="setFeature('return-policy')" [ngClass]="showReturn ? 'current': ''">Return Policy</div>
        <div class="item" (click)="setFeature('reviews')" [ngClass]="showReview ? 'current': ''">Reviews</div>
    </div>

    <div class="content-features">
      <div class="overview" *ngIf="showOverview">
          <div>Octa core</div>
          <div>8GB RAM</div>
          <div>128GB</div>
      </div>
      <div class="shipping" *ngIf="showShipping">
          <div class="row-unique">
            <div><i class="fa fa-truck fa-2x"></i></div>
            <div>
              <h6>Delivery</h6>
              <span>Estimated delivery time: 1 - 14 days</span>
            </div>
          </div>
          <div class="row-unique">
            <div><i class="fa fa-truck fa-2x"></i></div>
            <div>
              <h6>Express Delivery Available</h6>
              <span>Same day delivery: Order before 11AM and get it today</span>
              <span>Next day delivery: Order after 11AM and get it tomorrow</span>
            </div>
          </div>
      </div>
      <div class="reviews" *ngIf="showReview">
          No product review yet. Be the first to review this product.
      </div>
      <div class="return-policy" *ngIf="showReturn">
          No returns or exchanges for this item.
      </div>
      <div class="warranty" *ngIf="showWarranty">
        Warranty information unavailable for this item
      </div>
      <div class="description" *ngIf="showDescription">
        <table class="table table-bordered table-striped" *ngIf="selectedProduct.features.length > 0">
          <tr *ngFor="let feature of selectedProduct.features">
            <th>{{feature.key}}</th>
            <td>{{feature.value}}</td>
          </tr>
        </table>
      </div>
    </div>
 </div>
