select[name=quantity] {
  box-shadow: none;
}
button[type=submit]:hover{
  box-shadow: none;

}
input[type=radio]{
  cursor: pointer;
}
#grey-container {
  background: #eee;
}

#main-container {
  max-width: 80rem;
  margin: auto;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  background: #eee;
}
.img-con, .content {
  flex: 1;
}
.img-con {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .main-header {
    font-size: 2.1rem;
    width: 80%;
  }
  .price {
    font-size: 1.7rem;
    font-weight: bold;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }
  .quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
  }
  .action {
    display: flex;
    width: 100%;
    border-bottom: 1px solid lightgrey;

  }
}
.qty-btn {
  display: flex;
  flex: 1;
  margin-left: 2rem;

}
.btnq {
  height: 1rem;
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .4rem;
}
.mid {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  cursor: auto;
}
.border {
  border: 1px solid lightgrey;
}


.gutter{

  padding: .8rem 0;
}
.btn-green {
  width: 55%;
  height: 2.4rem;
  border: 1px solid #33b27b;
  background: #33b27b;
  color: #fff;
  border-radius: .3rem;
  cursor: pointer;
  &:active,&:focus {
    outline: none;
    border: 1px solid #33b27b;
  }
}

.save-to-cart {
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;

}
.grey-circle {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.social-handles {
  display: flex;

  & > *:not(:last-child) {
    margin-right: 2rem;
  }
}

.warranty-actions {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 1px solid lightgrey;


  & > * {
    flex:  0 0 50%;
  }
}
.warranty-actions > *:nth-child(3), .warranty-actions > *:nth-child(4) {
  margin-top: 1rem;
}

.error-msg {
  margin-right: 2rem;
  color: red;
}


.light-circle {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #33b27b;
}


.sub-container {
  display: flex;
  background: #f7f7f7;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
  & > * {
    margin-left: 1.5rem;
  }
  .initial {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: #9a0052;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .item {
    margin-left: 2rem;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
  }
}
.mt-1 {margin-top: 1rem;}
.mt-2 {margin-top: 1rem;}
.mt-3 {margin-top: 1rem;}
.mt-4 {margin-top: 1rem;}


//Links
a, a:hover,a:active {
  text-decoration: none;
}

.content-features {
  height: 100%;
  background: #f8f9fa;
  padding: 0 2rem;
}
table th {
  width: 25%;
}

// Shipping
.shipping {
  display: flex;
  flex-direction: column;
}
.row-unique {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  & > * {
    margin-right: 2rem;
  }
}

.current {
  color: #33b27b;
}
.feat-details {
  min-height: 10rem;
  background: #f8f9fa;

}
