nav a, div ul li a {
  color: white;
}
.nav-link {
  font-size: .8rem;
}
.navbar {
  position: sticky;
  z-index: 1000;
  top: 0;
}
.text-prim {
  color: rgb(147, 203, 82);
}
.bg-lightgrey {
  background: #eee;
}

.navbar-nav {
  display: flex;
  align-items: center;
}
.nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover .tool-tip-container, &:hover .tool-tip-container {
    visibility: visible;
  }

}
.nav-item a {
  width: 100%;
  text-align: center;

}
.nav-item:hover:not(:last-child) {
  background: #fff;
  border-radius: .3rem;
}
.nav-item:hover:last-child a{
  color: #fff !important;
}
.nav-item:hover a{
  color: black !important;
  text-align: center;
}

.hamburger {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 2%;
  top: 23%;
  cursor: pointer;
}

.side-bar {
  width: 25%;
  position: fixed;
  top: 8%;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #eee;
  padding: 2rem 1rem;
  transition: all 10s ease-out;

}
.side-bar > ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  list-style: none;
}
.side-bar  > ul > li {
  padding: 1rem;
  cursor: pointer;
}
.side-bar > ul > li:first-child {
  align-self: flex-end;
}
.side-bar > ul > li a {
  text-decoration: none;
  color: black;
  transition: .3s;

}
ul {
  list-style: none;
}
.noWidth {
  width: 0;
}
.di-none {
  display: none;
}
.sub-nav-item ul li a{
  padding-left: .7rem;
}

// Tool Tip
.category-div {
  position: relative;
  .tool-tip-container {
    visibility: hidden;
    position: absolute;
    width: 30rem;
    min-height: 30rem;
    padding-top: 2rem;
    top: .2rem;
    left: 0;
    display: flex;
  }

  &__tool-tip {
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-align: center;
    background: white;
    box-shadow: 0px -1px 1px #eee;

    .list-group {
      list-style: none;
      .list-item {
        text-align: left;
        padding: .7rem;
        &:hover {
          background: #F2F3F5;
        }
      }

    }

  }
  &__tool-tip2 {
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-align: center;
    background: white;
    box-shadow: 0px -1px 1px #eee;

    .list-group {
      list-style: none;
      .list-item {
        text-align: left;
        padding: .7rem;
        &:hover {
          background: #F2F3F5;
        }
      }

    }

  }
  &__tool-tip::after {
    content: " ";
    position: absolute;
    top: 3.4%;
    left: 3%;
    border-style: solid;
    border-width: 1rem;
    border-color: transparent transparent #eee transparent;

  }
}


.category-div:nth-of-type(6) {
  display: none;
  .tool-tip-container {
    display: none;
  }

  &:hover &__tool-tip, &:hover &__tool-tip2 {
    display: none;
  }

  &__tool-tip {

   /*  visibility: hidden;
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-align: center;
    background: white;
    box-shadow: 0px -1px 1px #eee;

    .list-group {
      list-style: none;
      .list-item {
        text-align: left;
        padding: .7rem;
        &:hover {
          background: #F2F3F5;
        }
      } */

    }

  }
  d-none {
    display: none;
  }

