<!-- <nav class="navbar navbar-expand-lg bg-primary">
<a class="navbar-brand" href="#">
    <i class="fas fa-store-alt" aria-hidden="true"></i>
  <span>Shop</span>.ng</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
   data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link mr-4" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item mr-4 category-div" *ngFor="let category of categories" (mouseenter)="loadThirdCat(category.subCategory[0].id, category.id)" (click)="changeRoute(category.id)">
        <a class="nav-link">{{category.name}}</a>
        <div class="tool-tip-container" [ngClass]="shouldDisplayToolTip ? '': 'd-none'" >
            <div class="category-div__tool-tip">
                <ul class="list-group">
                  <li class="list-item" *ngFor="let subcat of category.subCategory" (mouseenter)="loadThirdCat(subcat.id, category.id)">{{ subcat.name }}</li>
                </ul>
            </div>
            <div class="category-div__tool-tip2">
                <ul class="list-group">
                  <li class="list-item" *ngFor="let subcat of thirdCategory">{{ subcat.name }}</li>
                </ul>
            </div>
        </div>
      </li>
     <div class="flex-right">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['products','cart']">
                <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
              View Cart
            </a>
        </li>
        <li class="nav-item" *ngIf="!isUserLoggedIn" [routerLink]="['/login']">
            <a class="nav-link">
              Login
            </a>
        </li>
        <li class="nav-item" *ngIf="!isUserLoggedIn" [routerLink]="['/register']">
            <a class="nav-link">
              Register
            </a>
        </li>
        <li *ngIf="isUserLoggedIn" >
            <a class="nav-link">
              Welcome {{userName | titlecase}}
            </a>
        </li>
        <li class="nav-item" *ngIf="isUserLoggedIn" (click)="logOut()">
            <a class="nav-link">
              Logout
            </a>
        </li>
        <li class="nav-item hamburger" *ngIf="isUserLoggedIn && isUserAdmin" (click)="openNav()" [ngClass]="hideHamburger ? 'di-none': ''" >
            <a class="nav-link" >
                <i class="fa fa-bars fa-md" aria-hidden="true"></i>
            </a>
        </li>
     </div>
    </ul>
  </div>
  <div class="side-bar" id="side-bar" [ngClass]="!hideHamburger ? 'di-none': ''" >
    <ul>
      <li (click)="closeNav()">
        <i class="fa fa-times "></i>
      </li>
      <li class="sub-nav-item">Brands
        <ul>
          <li (click)="openBrandModal()"><a>
            <i class="fa fa-plus"></i>
            Create</a></li>
          <li><a [routerLink]="['/brands','view']" routerLinkActive="active" [queryParams]= "{subjectId: brandSubjectId}">
            <i class="fa fa-eye"></i>
            View</a></li>
          <li (click)="openBrandCategoryModal()"><a>
            <i class="fa fa-eye"></i>
            Assign Brands Category</a></li>
        </ul>
      </li>
      <li class="sub-nav-item">
        Product
        <ul>
            <li (click)="openProductModal()"><a>
              <i class="fa fa-plus"></i>
              Create</a></li>
            <li><a>
              <i class="fa fa-eye"></i>
              Add Features</a></li>
        </ul>
      </li>
      <li class="sub-nav-item">
        Category
        <ul>
            <li (click)="openCategoryModal()"><a >
              <i class="fa fa-plus"></i>
              Create</a></li>
            <li (click)="openSubCategoryModal()"><a >
              <i class="fa fa-plus"></i>
              Create SubCategory</a></li>
            <li><a [routerLink]="['/categories','view']" [queryParams]= "{subjectId: categorySubjectId}" routerLinkActive="active">
              <i class="fa fa-eye"></i>
              View</a></li>
        </ul>
      </li>
      <li class="sub-nav-item">
        Merchant
        <ul>
          <li (click)="openMerchantModal()"><a>
            <i class="fa fa-plus"></i>
            Create</a></li>
          <li><a [routerLink]="['/merchants','view']" [queryParams]= "{subjectId: merchantSubjectId}" routerLinkActive="active">
            <i class="fa fa-eye"></i>
            View</a></li>
        </ul>
      </li>
      <li class="sub-nav-item">
        Store
        <ul>
          <li (click)="openStoreModal()"><a>
            <i class="fa fa-plus"></i>
            Create</a></li>
          <li><a [routerLink]="['/stores','view']" [queryParams]= "{subjectId: storeSubjectId}" routerLinkActive="active">
            <i class="fa fa-eye"></i>
            View</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

 -->
 <nav id="header">
   <h1 class="header">
      <a class="navbar-brand" href="#">
          <i class="fas fa-store-alt" aria-hidden="true"></i>
        <span>Shop</span>.ng
      </a>
   </h1>
   <ul class="nav-center">
      <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item  category-div" *ngFor="let category of categories" (mouseenter)="loadThirdCat(category.subCategory[0].id, category.id)" (click)="changeRoute(category.id)">
          <a class="nav-link">{{category.name}}</a>
          <div class="tool-tip-container" [ngClass]="shouldDisplayToolTip ? '': 'd-none'" >
              <div class="category-div__tool-tip">
                  <ul class="list-group">
                    <li class="list-item" *ngFor="let subcat of category.subCategory" (mouseenter)="loadThirdCat(subcat.id, category.id)">{{ subcat.name }}</li>
                  </ul>
              </div>
              <div class="category-div__tool-tip2">
                  <ul class="list-group">
                    <li class="list-item" *ngFor="let subcat of thirdCategory">{{ subcat.name }}</li>
                  </ul>
              </div>
          </div>
        </li>
   </ul>
   <ul class="nav-right">
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['products','cart']">
              <i class="fa fa-shopping-cart fa-lg" ></i>
            Cart
          </a>
      </li>
      <li class="nav-item" *ngIf="!isUserLoggedIn" [routerLink]="['/login']">
          <a class="nav-link">
            Login
          </a>
      </li>
      <li class="nav-item" *ngIf="!isUserLoggedIn" [routerLink]="['/register']">
          <a class="nav-link">
            Register
          </a>
      </li>
     <!--  <li *ngIf="isUserLoggedIn" >
          <a class="nav-link">
            Welcome {{userName | titlecase}}
          </a>
      </li> -->
      <li class="nav-item" *ngIf="isUserLoggedIn" (click)="logOut()">
          <a class="nav-link">
            Logout
          </a>
      </li>
      <li class="nav-item hamburger" *ngIf="isUserLoggedIn && isUserAdmin" (click)="openNav()" [ngClass]="hideHamburger ? 'di-none': ''" >
          <a class="nav-link" >
              <i class="fa fa-bars fa-md" aria-hidden="true"></i>
          </a>
      </li>
   </ul>
   <div class="side-bar" id="side-bar" [ngClass]="!hideHamburger ? 'di-none': ''" >
      <ul>
        <li (click)="closeNav()">
          <i class="fa fa-times "></i>
        </li>
        <li class="sub-nav-item">Brands
          <ul>
            <li (click)="openBrandModal()"><a>
              <i class="fa fa-plus"></i>
              Create</a></li>
            <li><a [routerLink]="['/brands','view']" routerLinkActive="active" [queryParams]= "{subjectId: brandSubjectId}">
              <i class="fa fa-eye"></i>
              View</a></li>
            <li (click)="openBrandCategoryModal()"><a>
              <i class="fa fa-eye"></i>
              Assign Brands Category</a></li>
          </ul>
        </li>
        <li class="sub-nav-item">
          Product
          <ul>
              <li (click)="openProductModal()"><a>
                <i class="fa fa-plus"></i>
                Create</a></li>
              <li><a>
                <i class="fa fa-eye"></i>
                Add Features</a></li>
          </ul>
        </li>
        <li class="sub-nav-item">
          Category
          <ul>
              <li (click)="openCategoryModal()"><a >
                <i class="fa fa-plus"></i>
                Create</a></li>
              <li (click)="openSubCategoryModal()"><a >
                <i class="fa fa-plus"></i>
                Create SubCategory</a></li>
              <li><a [routerLink]="['/categories','view']" [queryParams]= "{subjectId: categorySubjectId}" routerLinkActive="active">
                <i class="fa fa-eye"></i>
                View</a></li>
          </ul>
        </li>
        <li class="sub-nav-item">
          Merchant
          <ul>
            <li (click)="openMerchantModal()"><a>
              <i class="fa fa-plus"></i>
              Create</a></li>
            <li><a [routerLink]="['/merchants','view']" [queryParams]= "{subjectId: merchantSubjectId}" routerLinkActive="active">
              <i class="fa fa-eye"></i>
              View</a></li>
          </ul>
        </li>
        <li class="sub-nav-item">
          Store
          <ul>
            <li (click)="openStoreModal()"><a>
              <i class="fa fa-plus"></i>
              Create</a></li>
            <li><a [routerLink]="['/stores','view']" [queryParams]= "{subjectId: storeSubjectId}" routerLinkActive="active">
              <i class="fa fa-eye"></i>
              View</a></li>
          </ul>
        </li>
      </ul>
    </div>

 </nav>

<app-create-brand-form [categories]= "categories"></app-create-brand-form>

<app-assign-brand-category-form [categories]= "categories"></app-assign-brand-category-form>

<app-sub-category-form [categories]= "categories"></app-sub-category-form>

<app-create-category-form></app-create-category-form>

<app-create-store-form></app-create-store-form>

<app-create-product-form [categories]= "categories"></app-create-product-form>

<app-create-merchant-form></app-create-merchant-form>


