<ng-template #templateStore>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Create Store</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="storeFormGroup" (ngSubmit)= "submitStoreForm()" >
          <div class="form-group">
              <label for="name">Name</label>
              <input type="text" formControlName="name" class="form-input" id="name">
              <span class="text-danger" *ngIf="storeFormGroup.get('name').invalid && storeFormGroup.get('name').touched">Name field is required</span>
          </div>
          <div class="form-group">
              <label for="location">Location</label>
              <input type="text" formControlName="location" class="form-input" id="location">
              <span class="text-danger" *ngIf="storeFormGroup.get('name').invalid && storeFormGroup.get('location').touched">Location field is required</span>
          </div>
            <div class="form-group">
              <input type="submit" class="btn submit-btn btn-sm btn-danger" [disabled]="storeFormGroup.invalid" value="Create">
            </div>
      </form>
    </div>
  </ng-template>
