<div class="card-con" *ngIf="product">
  <div class="card" style="width: 14rem;height: 28.2rem;">
    <div class="like-icon">
      <div class="con icon-edit text-primary" *ngIf="userIsAdmin" (click)="editProduct(product.code, product.categoryId)">
          <i class="fa fa-pencil"></i>
      </div>
      <div class="con icon-del text-danger" *ngIf="userIsAdmin" (click)="deleteProduct(product.code)">
          <i class="fa fa-times"></i>
      </div>
      <div class="con  text-right" *ngIf="!userIsAdmin">
          <i class="fa fa-heart"></i>
      </div>
    </div>
    <div class="thumb-nail mt-3">
      <img class="card-img-top" height="160px" src="../../../assets/img/phones/phone1.jpg">
    </div>
    <div class="card-body">
      <div class="card-text text-center parent">
        <h5 class="prod-name ellipsis" id="prod-name1" title="{{product.name}}">{{product.name}}</h5>
        <h5>{{product.price | currency : 'USD'}}</h5>
        <h6>Available Qty: {{product.quantityAvailable || 0}}</h6>
        <div class="small">Sold by Cc: {{ product.merchantName }}</div>
        <div class="small" *ngIf="product.pickUpAvailable">Pickup Available </div>
          <div class="btn-con">
              <a  class="btn btn-primary btn-sm" [routerLink]="['/products',product.categoryName,product.code]">
                Details
              </a>
              <a  class="btn btn-danger btn-sm ml-3" (click)=" showDialog()">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
               Cart
              </a>
          </div>
      </div>
    </div>
  </div>
</div>
<p-dialog [header]="product.name" [(visible)]="display" [modal]="true" [responsive]="true" [width]="370" [minWidth]="200" [minY]="90"
        [maximizable]="true" [baseZIndex]="20000">
        <div>
          <h6>Select the quantity of {{product.name}}</h6>
          <span><select name="userQty" [(ngModel)]="userQty" >
            <option *ngFor="let qty of productQty" [value]="qty" >{{qty}}</option>
          </select>
        </span>
        </div>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="addToCart()" label="Proceed"></button>
            <button type="button" pButton icon="pi pi-close" (click)="display=false" label="Cancel" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>
