<div class="col-md-3 mb-3">
  <div class="card" style="width: 14rem;">
    <div class="thumb-nail mt-3">
      <img class="card-img-top" height="160px" src="assets/img/{{product.imgUrl}}">
    </div>
    <div class="card-body">
      <div class="card-text text-center">
        <h4>{{product.name}}</h4>
        <p>{{product.description}}</p>
        <h5>{{product.price | currency : 'USD'}}</h5>
        <h6>Available Qty: {{product.quantity}}</h6>
          <span>
              <a  class="btn btn-primary btn-sm" [routerLink]="['/product',productCategory,product.id]">
                Details
              </a>


              <a  class="btn btn-danger btn-sm ml-3" (click)=" showDialog()">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
               Cart
              </a>
          </span>
      </div>
    </div>
  </div>
</div>
<p-dialog [header]="product.name" [(visible)]="display" [modal]="true" [responsive]="true" [width]="370" [minWidth]="200" [minY]="90"
        [maximizable]="true" [baseZIndex]="10000">
        <div>
          <h6>Select the quantity of {{product.name}}</h6>
          <span><select name="userQty" [(ngModel)]="userQty" >
            <option *ngFor="let qty of productQty" [value]="qty" >{{qty}}</option>
          </select>
        </span>
        </div>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="addToCart()" label="Proceed"></button>
            <button type="button" pButton icon="pi pi-close" (click)="display=false" label="Cancel" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>
