<div class="flex-container">
  <div class="min-container">
      <div class="heading-text">Our List of {{subjectName}}</div>
      <div class="form">
        <div class="form-group">
          <label for="merchant">Select a {{subjectName}}</label>
          <select class=" input" name="subject" [(ngModel)]="subjectParams" (change)="populateTableWithSubject()">
            <option [value]="subject.id" *ngFor="let subject of subjectList" [selected]="subject.id" > {{subject.name | titlecase}} </option>
          </select>
        </div>
      </div>
      <div class="main-table" *ngIf="currentSubject">
          <table class="table table-striped">
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
              <tr>
                <td>{{ currentSubject.id }}</td>
                <td>{{ currentSubject.name | titlecase }}</td>
                <td>
                  <i class="fa fa-pencil fa-2x mr-4 text-success" (click)="openUpdateModal()"></i>
                  <i class="fa fa-trash-o fa-2x text-danger" (click)="deleteSub()"></i>
                </td>
              </tr>
          </table>
      </div>
  </div>
</div>
