<div class="container">
  <div class="min-container">
      <div class="heading-text">Our List of Merchants</div>
      <div class="form">
        <div class="form-group">
          <label for="merchant">Select a Merchant</label>
          <select class="form-control" name="subject" >
            <option value=""></option>
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="main-table">
          <table class="table table-striped">
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
              <tr>
                <td>Id Value</td>
                <td>Name Value</td>
                <td>Action Value</td>
              </tr>
          </table>
      </div>
  </div>
</div>
