.flex-container {
  height: 50rem;
  //width: 50%;
  // background: url('../../../assets/img/shop6.jpeg') center center/cover no-repeat;
}
.min-container {
  //width: 50rem;
  padding: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  //margin: 0 15rem;
  @media only screen and (max-width: 46rem) {
    padding: 3rem;
  }
}
.heading-text {
  font-size: 2.6rem;
  @media only screen and (max-width) {
    font-size: 1.2rem;
  }
}
.form {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-table {
  width: 100%;
}
.table {
  width: 100%;
}
td i {
  cursor: pointer;
}
.input {
  height: 2rem !important;
  width: 100%;
  align-self: center;
}
