<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Assign Brand Category</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="assignBrandCategoryFormGroup" (ngSubmit)= "submitAssignBrandForm()" >
          <div class="form-group">
            <label for="category">Category</label>
            <select class="form-input" formControlName="categoryId" id="category">
              <option value="null"></option>
              <option *ngFor="let category of categories" [value]="category.id"> {{category.name}} </option>
            </select>
            <span class="text-danger" *ngIf="assignBrandCategoryFormGroup.get('categoryId').invalid && assignBrandCategoryFormGroup.get('categoryId').touched">Category name field is required</span>
          </div>

          <div class="form-group">
            <label for="brand">Brand</label>
            <select class="form-input" formControlName="brandId" id="brand">
              <option value="null"></option>
              <option *ngFor="let brand of brands" [value]="brand.id"> {{brand.name}} </option>
            </select>
            <span class="text-danger" *ngIf="assignBrandCategoryFormGroup.get('brandId').invalid && assignBrandCategoryFormGroup.get('brandId').touched">Brand name field is required</span>
          </div>
          <div class="form-group">
            <input type="submit" class="btn submit-btn btn-sm btn-danger" [disabled]="assignBrandCategoryFormGroup.invalid" value="Create">
          </div>
    </form>
  </div>
</ng-template>
