<ng-template #templateProduct>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Create Product</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="productFormgroup" (ngSubmit)= "submitProductForm()" >
          <div class="form-group">
              <label for="name">Name</label>
              <input type="text" formControlName="name" class="form-input" id="name">
              <span class="text-danger" *ngIf="productFormgroup.get('name').invalid && productFormgroup.get('name').touched">Name field is required</span>
          </div>
          <div class="form-group">
              <label for="price">Price</label>
              <input type="text" formControlName="price" class="form-input" id="price">
              <span class="text-danger" *ngIf="productFormgroup.get('price').invalid && productFormgroup.get('price').touched">
                Price field is required
              </span>
          </div>
          <div class="form-group">
              <label for="quantityAvailable">Quantity Avaialable</label>
              <input type="number" formControlName="quantityAvailable" class="form-input" id="quantityAvailable">
              <span class="text-danger" *ngIf="productFormgroup.get('quantityAvailable').invalid && productFormgroup.get('quantityAvailable').touched">
                  Quantity Available field is required
              </span>
          </div>
            <div class="form-group">
              <label for="category">Category</label>
              <select class="form-input" formControlName="categoryId" id="category" (change)="loadBrands()">
                <option value="null"></option>
                <option *ngFor="let category of categories" [value]="category.id"> {{category.name}} </option>
              </select>
              <span class="text-danger" *ngIf="productFormgroup.get('categoryId').invalid && productFormgroup.get('categoryId').touched">Category name field is required</span>
            </div>
            <div class="form-group">
              <label for="merchant">Brand</label>
              <select class="form-input" formControlName="brandId" id="merchant">
                <option value="null">-</option>
                <option *ngFor="let brand of brands" [value]="brand.id"> {{brand.name}} </option>
              </select>
              <span class="text-danger" *ngIf="productFormgroup.get('brandId').invalid && productFormgroup.get('brandId').touched">Brand Name field is required</span>
            </div>
            <div class="form-group">
              <label for="store">Store</label>
              <select class="form-input" formControlName="storeId" id="store">
                <option value="null">-</option>
                <option *ngFor="let store of stores" [value]="store.id"> {{store.name}} </option>
              </select>
              <span class="text-danger" *ngIf="productFormgroup.get('storeId').invalid && productFormgroup.get('storeId').touched">Store Name field is required</span>
            </div>
            <div class="form-group">
              <label for="merchant">Merchant</label>
              <select class="form-input" formControlName="merchantId" id="merchant">
                <option value="null">-</option>
                <option *ngFor="let merchant of merchants" [value]="merchant.id"> {{merchant.name}} </option>
              </select>
              <span class="text-danger" *ngIf="productFormgroup.get('merchantId').invalid && productFormgroup.get('merchantId').touched">Merchant field is required</span>
            </div>
            <div class="form-group">
              <label for="pickupAvailable" >Pickup Available</label>
              <input type="radio" formControlName="pickupAvailable" id="pickupAvailable" class="radio radio1" value="Yes"> Yes
              <input type="radio" formControlName="pickupAvailable" id="pickupAvailable" class="radio" value="No"> No
              <span class="text-danger" *ngIf="productFormgroup.get('pickupAvailable').invalid && productFormgroup.get('pickupAvailable').touched">Pickup field is required</span>
            </div>
            <div class="form-group">
              <input type="submit" class="btn submit-btn btn-sm btn-danger" [disabled]="productFormgroup.invalid" value="Create">
            </div>
        </form>
    </div>
  </ng-template>
